*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle at top, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
}

.game-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1366px;
    height: 780px;
}

/* score */

.score-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    width: 60%;
    height: 160px;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    z-index: 1;
}

.box-score {
    padding: 15px;
    width: 160px;
    height: 120px;
    border-radius: 15px;
    background-color: hsl(0, 100%, 100%);
}

.text-score {
    text-align: center;
    font-size: 18px;
    color: hsl(229, 64%, 46%);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.score {
    margin-top: -6px;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}

/* section primary and extended */

.primary,
.extended {
    position: relative;
    display: none;
    margin: 12% auto;
    aspect-ratio: 313/278;
    width: 313px;
}

.primary svg,
.extended svg {
    position: absolute;
    z-index: -1;
}

.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    cursor: pointer;
}

.extended .circle {
    width: 140px;
    height: 140px;
}

.circle::after {
    position: absolute;
    top: 6px;
    content: '';
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: -1;
}

.extended .circle::after {
    width: 140px;
    height: 140px;
}

.circle-paper {
    top: -80px;
    left: -80px;
    background: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
}

.circle-paper::after {
    background-color: hsl(231, 54%, 43%);
}

.extended .circle-paper {
    top: 47px;
    left: 242px;
}

.circle-scissors {
    top: -80px;
    left: 223px;
    background: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
}

.circle-scissors::after {
    background-color: hsl(40, 96%, 31%);
}

.extended .circle-scissors {
    top: -74px;
    left: 94px;
}

.circle-rock {
    top: 150px;
    left: 70px;
    background: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
}

.circle-rock::after {
    background-color: hsl(350, 78%, 35%);
}

.extended .circle-rock {
    top: 233px;
    left: 192px;
}

.circle-spock {
    top: 47px;
    left: -60px;
    background: linear-gradient(hsl(189, 58%, 57%), hsl(189, 59%, 53%));
}

.circle-spock::after {
    background-color: hsl(188, 70%, 32%);
}

.circle-lizard {
    top: 233px;
    left: -10px;
    background: linear-gradient(hsl(261, 72%, 63%), hsl(261, 73%, 60%));
}

.circle-lizard::after {
    background-color: hsl(260, 54%, 44%);
}

.icon-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border: none;
    border-radius: 50%;
    background-color: hsl(0, 0%, 79%);
    overflow: hidden;
    cursor: pointer;
}

.extended .icon-button {
    width: 110px;
    height: 110px;
}

.icon-button::after {
    position: absolute;
    top: 6px;
    left: 0;
    content: '';
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
}

.extended .icon-button::after {
    width: 110px;
    height: 110px;
}

.icon {
    position: absolute;
    scale: 1.4;
    z-index: 1;
    cursor: pointer;
}

.extended .icon {
    scale: 1.1;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

/* game */

.game {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    width: 80%;
    height: 480px;
}

.game-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 40px;
    width: 30%;
    height: 100%;
}

.game-box h2 {
    margin-bottom: 40px;
    font-size: 22px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;

}

.game-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .15);
}

.game-circle .circle {
    top: -50px;
    left: -50px;
    width: 320px;
    height: 320px;
    cursor: unset;
}

.game-circle .circle::after {
    top: 10px;
    width: 320px;
    height: 320px;
}

.game-circle .icon-button {
    width: 230px;
    height: 230px;
    cursor: unset;
}

.game-circle .icon-button::after {
    top: 10px;
    width: 230px;
    height: 230px;
}

.game-circle .icon {
    scale: 1.8;
    cursor: unset;
}

.game-result {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 100px 40px 0;
    width: 184px;
    z-index: 1;
}

.game-result h2 {
    font-size: 46px;
    color: hsl(0, 0%, 100%);;
    text-transform: uppercase;
}

.game-result button {
    margin-top: 20px;
    padding: 10px 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(216, 67%, 15%);
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.shadow {
    box-shadow: 0 0 0 70px hsla(214, 47%, 23%, 0.4),
    0 0 0 140px hsla(214, 47%, 23%, 0.3),
    0 0 0 210px hsla(214, 47%, 23%, 0.2);
    transition: all .6s linear;
}

/* buttons */

.buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-right: 20px;
}

.buttons button {
    margin: 0 5px;
    padding: 5px 20px;
    border: 1px solid hsl(0, 100%, 100%);
    border-radius: 7px;
    font-size: 12px;
    background-color: transparent;
    color: hsl(0, 100%, 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .6;
    cursor: pointer;
}

.buttons button:hover {
    opacity: .9;
}

/* rules */

.rules {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.box-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 50px;
    width: 400px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}

.top p {
    font-size: 32px;
    font-weight: 700;
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
}

.top svg {
    cursor: pointer;
}

/* class active */

.active {
    display: flex;
}

@media (max-width: 375px) {

    body {
        display: block;
    }

    .game-container {
        padding-top: 30px;
        height: 100vh;
    }

    .score-container {
        padding: 0 15px;
        width: 90%;
        height: 100px;
    }

    .score-container img {
        margin-left: -20px;
        scale: .7;
    }

    .box-score {
        width: 90px;
        height: 80px;
    }

    .text-score {
        font-size: 12px;
    }

    .score {
        font-size: 44px;
    }

    .primary,
    .extended {
        margin-top: 60px;
        scale: .6;
    }

    .buttons {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 40px auto 0;
        width: 200px;
        height: 120px;
    }

    .buttons button {
        width: 150px;
        font-size: 14px;
    }

    .box-rules {
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    .game {
        flex-wrap: wrap;
        margin-top: 60px;
        width: 100%;
        height: 25%;
    }

    .game-box {
        justify-content: space-between;
        margin: 0;
        width: 50%;
    }

    .game-box h2 {
        order: 1;
        margin: 10px;
        font-size: 14px;
    }

    .game-circle {
        width: 100px;
        height: 100px;
    }

    .game-circle .circle {
        top: -20px;
        left: -14px;
        width: 130px;
        height: 130px;
    }

    .game-circle .circle::after {
        top: 5px;
        width: 130px;
        height: 130px;
    }

    .game-circle .icon-button {
        width: 100px;
        height: 100px;
    }

    .game-circle .icon-button::after {
        top: 5px;
        width: 100px;
        height: 100px;
    }

    .game-circle .icon {
        scale: .9;
    }

    .game-result {
        order: 1;
        margin-top: 30px;
    }

    .game-result h2 {
        font-size: 42px;
    }

    .game-result button {
        margin-top: 10px;
    }

    .shadow {
        box-shadow: 0 0 0 20px hsla(214, 47%, 23%, 0.4),
        0 0 0 40px hsla(214, 47%, 23%, 0.3),
        0 0 0 60px hsla(214, 47%, 23%, 0.2);
        transition: all .6s linear;
    }

    .buttons {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }
}